<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cse190.petcafe"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="21" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".ApplicationSingleton"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data android:name="com.google.android.gms.version" 
        		android:value="@integer/google_play_services_version" />
        <activity
            android:name="com.cse190.petcafe.MainActivity"
            android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.cse190.petcafe.ui.ActivityNewPost"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name="com.cse190.petcafe.ui.ActivityEditProfile"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name="com.cse190.petcafe.ui.ActivityFindFriends"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name="com.cse190.petcafe.ui.ActivityProfile"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name="com.cse190.petcafe.ui.ActivityMyFriends"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name="com.cse190.petcafe.ui.ActivitySearchPosts"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name="com.cse190.petcafe.ui.ActivityMyFriendsPosts"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <activity
            android:name=".ui.ActivityBlog"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
             />
		<activity
            android:name="com.facebook.LoginActivity"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
		<activity
            android:name="com.cse190.petcafe.ui.ActivityMyFriendsProf"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:noHistory="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".ActivityinitialSetup"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activityinitial_setup" >
        </activity>
        <activity
            android:name=".ui.ActivityChat"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_activity_chat" >
        </activity>
        <activity
            android:name="com.cse190.petcafe.ui.ActivityDialog"
			android:screenOrientation="portrait"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_actvitiy_dialog" >
        </activity>
    </application>

</manifest>